@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap');
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}
html,
body {
  display: grid;
  height: 100%;
  width: 100%;
  place-items: center;
  background: linear-gradient(315deg, #ffffff 0%, #d7e1ec 74%);
}
.wrapper-nam .button-nam {
  display: inline-block;
  height: 60px;
  width: 60px;
  float: left;
  margin: 0 5px;
  overflow: hidden;
  background: #fff;
  border-radius: 50px;
  cursor: pointer;
  box-shadow: 0px 10px 10px rgba(0, 0, 0, 0.1);
  transition: all 0.3s ease-out;
}
.wrapper-nam .button-nam:hover {
  width: 200px;
}
.wrapper-nam .button-nam .icon-nam {
  display: inline-block;
  height: 60px;
  width: 60px;
  text-align: center;
  border-radius: 50px;
  box-sizing: border-box;
  line-height: 60px;
  transition: all 0.3s ease-out;
}
.wrapper-nam .button-nam:nth-child(1):hover .icon-nam {
  background: #4267b2;
}
.wrapper-nam .button-nam:nth-child(2):hover .icon-nam {
  background: #00c300;
}
.wrapper-nam .button-nam:nth-child(3):hover .icon-nam {
  background: #ff0000;
}
.wrapper-nam .button-nam:nth-child(4):hover .icon-nam {
  background: #f30050;
}
.wrapper-nam .button-nam:nth-child(5):hover .icon-nam {
  background: #4946d8;
}
.wrapper-nam .button-nam .icon-nam i {
  font-size: 25px;
  line-height: 60px;
  transition: all 0.3s ease-out;
}
.wrapper-nam .button-nam:hover .icon-nam i {
  color: #fff;
}
.wrapper-nam .button-nam span {
  font-size: 20px;
  font-weight: 500;
  line-height: 60px;
  margin-left: 10px;
  transition: all 0.3s ease-out;
}
.wrapper-nam .button-nam:nth-child(1):hover span {
  color: #4267b2;
  font-weight: bold;
}
.wrapper-nam .button-nam:nth-child(2):hover span {
  color: #00c300;
  font-weight: bold;
}
.wrapper-nam .button-nam:nth-child(3):hover span {
  color: #ff0000;
  font-weight: bold;
}
.wrapper-nam .button-nam:nth-child(4):hover span {
  color: #f30050;
  font-weight: bold;
}
.wrapper-nam .button-nam:nth-child(5):hover span {
  color: #4946d8;
  font-weight: bold;
}
